/*Montserrat*/

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
    url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf"),
    url("../fonts/Montserrat/Montserrat-Regular.svg#Montserrat") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
    url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Bold.ttf") format("ttf"),
    url("../fonts/Montserrat/Montserrat-Bold.svg#Montserrat") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
    url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Black.ttf") format("ttf"),
    url("../fonts/Montserrat/Montserrat-Black.svg#Montserrat") format("svg");
    font-weight: 900;
    font-style: normal;
}