.form {
    display: flex;
    flex-direction: column;
}

.form__item:not(:last-of-type) {
    margin-bottom: 40px;
}

.form__label,
.form__input {
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.form__label {
    display: block;
    margin-bottom: 8px;
}

.form__input,
.form__textarea {
    border: 2px solid var(--red);
    outline: none;
    appearance: none;
    width: 100%;
    padding: 10px;
}

.form__textarea {
    resize: none;
    min-height: 120px;
}