.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    transition: 0.1s linear;
}

.preloader.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}




.preloader__img {
    width: 28vw;
    margin-bottom: 40px;
}

.preloader__spin {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid var(--red); /* Blue */
    border-radius: 50%;
    width: 6vw;
    aspect-ratio: 1 / 1;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 1920px) {
    .preloader__img {
        width: 600px;
    }

    .preloader__spin {
        width: 150px;
    }
}

@media (max-width: 1440px) {
    .preloader__spin {
        border: 5px solid #f3f3f3;
        border-top: 5px solid var(--red);
    }
}

@media (max-width: 1024px) {
    .preloader__spin {
        width: 50px;
    }

    .preloader__img {
        width: 270px;
    }
}