.footer {
    background-color: #000000;
}

.footer__text {
    color: var(--gray);
    margin: 0 auto;
    width: fit-content;
    padding: 40px 0;
}

@media (max-width: 767px) {
    .footer__text {
        font-size: 12px;
        padding: 20px 0;
    }
}