.description {
    margin-top: -109px;
}

.description__content {
    display: flex;
    box-shadow: 0 20px 80px 0 rgba(193, 199, 212, 0.7);
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.description__content-item {
    flex: 0 0 50%;
    padding: 51px 51px 65px 71px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.description__content-item:nth-child(2) {
    background-color: initial;
}

.description__bg {
    transition: 0.3s linear;
}

.description__avatar {
    display: flex;
}

.description__avatar-text {
    margin: 11px 0 0 26px;
}

.description__avatar-text-title {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

.description__avatar-text-subtitle {
    font-weight: 400;
    font-size: 17px;
    color: #000;
}

.description__title {
    font-weight: 900;
    font-size: 40px;
    color: #000;
    line-height: 1.22;
    margin: 11px 0 29px;
}

.description__subtitle {
    font-weight: 400;
    font-size: 17px;
    color: var(--gray);
    line-height: 1.2;
    max-width: 93%;
}

.description__title.white,
.description__subtitle.white {
    color: #fff;
}

.description__subtitle:not(:last-of-type) {
    margin-bottom: 36px;
}

.description__button {
    margin-top: 63px;
    padding: 20px 25px;
}

@media (min-width: 1024px) {
    .description__content-item:nth-child(2):hover .description__bg {
        transform: scale(1.2);
    }
}

@media (max-width: 1440px) {
    .description {
        margin-top: 50px;
    }

    .description__title {
        font-size: 32px;
    }
}

@media (max-width: 1024px) {
    .description__content {
        flex-direction: column;
    }

    .description__content-item {
        flex: 0 0 100%;
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .description__avatar {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .description__avatar-img {
        display: block;
        margin: 0 auto;
    }

    .description__avatar-text {
        margin: 11px 0 0 0;
        text-align: center;
    }

    .description__title {
        font-size: 22px;
    }

    .description__button {
        margin-top: 30px;
        padding: 20px;
    }
}