.hero {
    background-color: #E7E8E9;
}

.hero__content {
    max-width: 662px;
    width: 100%;
    padding: 171px 0 284px;
    margin: 0 0 10px 137px;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    color: #000;
    line-height: 1.2;
}

.hero__subtitle {
    font-weight: 400;
    font-size: 17px;
    color: var(--gray);
    margin: 43px 0 63px;
    max-width: 92%;
    line-height: 1.2;
}

.hero__button {
    padding: 20px 44px;
}

.hero__img {
    position: absolute;
    top: 130px;
    right: 199px;
}

@media (max-width: 1919px) {
    .hero__img {
        max-width: 500px;
        width: 100%;
        right: 52px;
    }
}

@media (max-width: 1440px) {
    .hero__content {
        padding: 101px 0 284px;
        margin: 0 0 10px 50px;
    }
    .hero__title {
        font-size: 35px;
    }

    .hero__img {
        top: 410px;
        max-width: 400px;
    }
}

@media (max-width: 767px) {
    .hero__content {
        padding: 50px 0 250px;
        margin: 0;
    }

    .hero__title {
        font-size: 22px;
    }

    .hero__img {
        top: 513px;
        max-width: 320px;
    }

    .hero__button {
        margin: 0 auto;
        padding: 20px;
    }
}